<!-- Duoshuo Comment BEGIN -->
<noscript>Please enable JavaScript to view the <a href="http://duoshuo.com/?ref_noscript">comments powered by duoshuo.</a></noscript>
	<div class="ds-thread" data-thread-key="" 
	data-title="" data-author-key="" data-url=""></div>
	<script type="text/javascript">
	var duoshuoQuery = {short_name:"huangming"};
	(function() {
		var ds = document.createElement('script');
		ds.type = 'text/javascript';ds.async = true;
		ds.src = '{{root_path}}/javascripts/duoshuo-embed.js';
		ds.charset = 'UTF-8';
		(document.getElementsByTagName('head')[0] 
		|| document.getElementsByTagName('body')[0]).appendChild(ds);
	})();
	</script>
<!-- Duoshuo Comment END -->

