<!-- JiaThis Button BEGIN -->
<span id="ckepop">
	<span class="jiathis_txt">&nbsp;◆&nbsp;分享到：</span>
    <a class="jiathis_button_qzone"></a>
	<a class="jiathis_button_tsina"></a>
	<a class="jiathis_button_tqq"></a>
	<a class="jiathis_button_renren"></a>
	<a class="jiathis_button_xiaoyou"></a>
	<a class="jiathis_button_douban"></a>
	<a class="jiathis_button_hi"></a>
	<a href="http://www.jiathis.com/share?uid=1611555" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
	<a class="jiathis_counter_style"></a>
</span>
<script type="text/javascript">var jiathis_config = {data_track_clickback:true};</script>
<script type="text/javascript" src="http://v2.jiathis.com/code_mini/jia.js?uid=1611555" charset="utf-8"></script>
<!-- JiaThis Button END -->

